{% extends 'base.html' %}
{% block title %}{{ product.name }}{% endblock %}
{% block content %}
    <h1>{{ product.name }}</h1>>
    <div class="row">
        <div class="card mb-3">
            <div class="col-sm-14 mb-7 mb-sm-0">
                <img src="{{ product.image.url }}..." class="col-14 card-img-top"
                     style="width: 18rem; object-fit: cover;" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ product.price }} lei / bucata</h5>
                    <p class="card-text">{{ product.description }}</p>
                    <p class="card-text">Stoc: {{ product.stock }} bucăți</p>
                    <form action="{% url 'add_product_to_cart' %}" method="post">
                        {% csrf_token %}
                        <input type="number" value="1" min="1" max="{{ product.stock }}" name="quantity">
                        <input type="hidden" name="product_id" value="{{ product.id }}">
                        <button type="submit" class="btn btn-primary">
                            Adaugă în coş
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
